/* author: overist */
/* description : overlapping design for customizing */
/* usage : global custom css for removing reduplicated block, change style in deps module's design, etc */

/* background set-up for notion page hero icon */
div.notion-page-icon-hero.notion-page-icon-image {
  background-color: #fff;
}
div.notion-page-icon-hero > span {
  width: 100% !important;
}

/* hide about block */
a.notion-block-6928f842cce4404bb3572cc19de2b1f1 {
  display: none;
}

/* hide posts block */
a.notion-block-fe7052915f0548809117516ff4a643a6 {
  display: none;
}
/* Pretty Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* ToC Layout, white-spacing */
aside.notion-aside{
  padding-left: 5px;
  padding-right: 20px;
  max-width: 360px;
  margin: 0 auto 0 3rem;
  border-left: 3px solid #F1F3F5;
}
.notion-aside-table-of-contents-header{
  align-self: flex-start;
  padding-left: 5px;
}

a.notion-table-of-contents-item {
  white-space: normal;
}
